<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>index페이지 접근 성공</h1>
    서버에서 넘어온 NUM값 : <%=num%> <br>
    <table border='1'><tr> 
        <%   for(var i =1; i<=num;i++){ %>
            <td><%= id%></td>
        <%}%>
        </tr>
    </table>
    
        
</body>
</html>